{% extends '@EasyAdmin/layout.html.twig'  %}

{% block title %}Gestion du compte utilisateur
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Gestion du compte utilisateur</h1>
		<a href="{{path('admin.users.index')}}">Retour à l'index</a>
		{{form_start(form)}}
		{{form_widget(form)}}
		<button>Enregistrer les modifications</button>
		{{form_end(form)}}
	</section>
{% endblock %}
