{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Votre profil
	{{parent()}}
{% endblock %}

{% block body %}
	<h1>Gérer votre profil</h1>

	<section>
		<h2>Vos informations</h2>
		<p>Nom :{{users.name}}
			{{users.firstName}}</p>
		<p>Email :{{users.email}}</p>
		<p>
			{% for role in users.roles %}
				{{role == 'ROLE_ADMIN'? 'Admin' : 'Formateur'}}

			{% endfor %}
		</p>
		<a href="{{path('app.users.edit', {id: users.id})}}">Modifier vos informations</a>
	</section>

	<section>
		<h2>Vos documents</h2>
		<p>
			{% if users.documents| length > 0 %}
				{% for document in users.documents %}
					{{document.formation}}
					{{document.title}}
				{% endfor %}
			{% else %}
				<p>Vous n'avez pas de documents pour le moment</p>
			{% endif %}


		</p>
	</section>
{% endblock %}
