{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Votre profil
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Modifier vos informations</h1>

		{{form_start(form)}}
		{{form_widget(form)}}
		<button>Enregistrer les modifications</button>
		{{form_end(form)}}
		<a href="{{path('app.users.details', {id:users.id})}}">Retour</a>
	</section>
{% endblock %}
