{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Votre profil
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Modifier vos informations</h1>
		<a href="{{path('users.{id}', {id:user.id})}}">Retour à l'index</a>
		{{form_start(form)}}
		{{form_widget(form)}}
		<button>Enregistrer les modifications</button>
		{{form_end(form)}}
	</section>
{% endblock %}
